<h2>{{#block "title"}}{{/block}}</h2>
{{#if items}}
<ul class="pager">
	<li
		class="previous {{#if index_previous_disabled}}disabled{{/if}}"><a
		href="javascript:paginator.updateList({{index_previous}})">&larr; Previous</a></li>
	<li>{{index_start}}-{{index_end}} of {{count}}</li>
	<li class="next {{#if index_next_disabled}}disabled{{/if}}"><a
		href="javascript:paginator.updateList({{index_next}})">Next &rarr;</a></li>
</ul>
{{#block "item_list"}}
{{/block}}
<ul class="pager">
	<li
		class="previous {{#if index_previous_disabled}}disabled{{/if}}"><a
		href="javascript:paginator.updateList({{index_previous}})">&larr; Previous</a></li>
	<li>{{index_start}}-{{index_end}} of {{count}}</li>
	<li class="next {{#if index_next_disabled}}disabled{{/if}}"><a
		href="javascript:paginator.updateList({{index_next}})">Next &rarr;</a></li>
</ul>
{{/if}}
{{#unless items}}
<div class="alert alert-warning">
	<b>Empty!</b> There are no defined {{#block "title"}}{{/block}}.
</div>
{{/unless}}
