{{#parameters}}
<div class="form-group container">
	<label for="config.{{key}}">{{description}}{{#required}}
		(required){{/required}}{{#hidden}} (hidden){{/hidden}}</label> <input
		type="text" value="{{value}}" id="config.{{key}}"
		name="config.{{key}}" class="form-control">
</div>
{{/parameters}}
