{{#partial "item_list"}}
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Category</th>
			<th>Entity</th>
			<th>Property</th>
			<th>Value</th>
			<th style="width: 5%">Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each items}}
		<tr>
			<td>{{#with entity.type}}<a
				href="{{../../mustacheletPath}}/browse/type/{{id}}">{{name}}</a>{{/with}}
			</td>
			<td>{{#with entity}}<a
				href="{{../../mustacheletPath}}/browse/entity/{{id}}">{{name}}</a>{{/with}}
			</td>
			<td>{{#with property}}<a
				href="{{../../mustacheletPath}}/browse/property/{{id}}">{{name}}</a>{{/with}}
			</td>
			<td>{{#value-render this}}{{/value-render}}</td>
			<td><a class="btn btn-small btn-link"
				href="{{../../mustacheletPath}}/browse/value/{{id}}"><i
					class=" icon-th-list"></i></a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/partial}} {{#partial "empty_message"}}No values found.{{/partial}}
{{>base_paginated_list}}
