{{#partial "item_list"}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Source</th>
			<th>Adaptor</th>
		</tr>
	</thead>
	<tbody>
		{{#each items}}
		<tr>
			<td style="white-space: nowrap;">{{dateFormat timestamp}}</td>
			<td>{{#with adaptor.source}}<a href="{{../../mustacheletPath}}/browse/source/{{id}}">{{name}}{{#if description}}: {{description}}{{/if}}</a>{{/with}}</td>
			<td>{{#with adaptor}}<a href="{{../../mustacheletPath}}/browse/adaptor/{{id}}">{{instance}} ({{name}}-v{{version}})</a>{{/with}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/partial}}
{{#partial "empty_message"}}No measurements found.{{/partial}}
{{>base_paginated_list}}