{{#partial "title"}}Scout - Browse - Category{{/partial}}
{{#partial "NavBrowseClass"}}active{{/partial}}
{{#partial "content"}} 
<div class="container">
	{{#entityType}}
	<h1>Category {{name}}</h1>
	<p>{{description}}</p>

	<div>
		<h2>Entities</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th style="width: 10%">Action</th>
				</tr>
			</thead>
			<tbody>
				{{#entities}}
				<tr>
					<td>{{name}}</td>
					<td><a class="btn btn-info"
						href="{{mustacheletPath}}/browse/entity/{{#type}}{{name}}{{/type}}/{{name}}">Browse</a></td>
				</tr>
				{{/entities}}
			</tbody>
		</table>
		{{^entities}}
		<div class="alert alert-warning">
			<b>Empty!</b> There are no defined entities.
		</div>
		{{/entities}}
	</div>

	<div>
		<h2>Properties</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Data type</th>
				</tr>
			</thead>
			<tbody>
				{{#properties}}
				<tr>
					<td>{{name}}</td>
					<td>{{description}}</td>
					<td>{{datatype}}</td>
				</tr>
				{{/properties}}
			</tbody>
		</table>
		{{^properties}}
		<div class="alert alert-warning">
			<b>Empty!</b> There are no defined properties.
		</div>
		{{/properties}}
	</div>
	{{/entityType}}
	{{^entityType}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find a category with name '{{typeName}}'.
	</div>
	{{/entityType}}
</div>
{{/partial}}
{{> base}}
