{{#partial "title"}}Scout - Browse - Source{{/partial}} {{#partial
"NavBrowseClass"}}active{{/partial}} {{#partial "content"}}
<div class="container">
	{{#source}}
	<ul class="breadcrumb">
		<li><a href="{{mustacheletPath}}/administration">Sources</a></li>
		<li class="active">{{name}}</li>
	</ul>
	<div class="page-header">
		<h1>Source</h1>
	</div>
	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{name}}</dd>
		{{#if description}}
		<dt>Description</dt>
		<dd>{{description}}</dd>
		{{/if}}
	</dl>
	{{/source}}

	{{#if adaptors}}
	<h4>Adaptors</h4>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Instance</th>
				<th>Plug-in name</th>
				<th>Plug-in version</th>
				<th style="width: 20px">Active</th>
				<th style="width: 20px">Action</th>
			</tr>
		</thead>
		<tbody>
			{{#adaptors}}
			<tr>
				<td>{{instance}}</td>
				<td>{{name}}</td>
				<td>{{version}}</td>
				<td>{{#active}}<i class="glyphicon glyphicon-ok"></i>{{/active}}
				</td>
				<td><a class="btn btn-small btn-link"
					href="{{mustacheletPath}}/browse/adaptor/{{id}}"><i
						class="glyphicon glyphicon-th-list"></i></a></td>
			</tr>
			{{/adaptors}}
		</tbody>
	</table>
	{{/if}}
	{{#unless adaptors}}
	<div class="alert alert-warning">
		<b>Empty!</b> There are no defined adaptors for this source.
	</div>
	{{/unless}}
	
	{{^source}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find source {{id}}.
	</div>
	{{/source}}
</div>
{{/partial}} {{>base}}
