{{#partial "title"}}Scout - Browse{{/partial}}
{{#partial "NavBrowseClass"}}active{{/partial}}
{{#partial "content"}} 
<div class="container">
	<div class="page-header">
		<h1>Categories</h1>
	</div>
	<p>Select the category or the entity of the world that you'd like to know about.</p>
	<div id="typeList" class="content">Loading categories...</div>
</div>

<div class="container">
    <div class="page-header">
        <h1>
            Policies
        </h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Objective</th>
                <th style="width: 10%">Measure</th>
                <th style="width: 30%">Description</th>
                <th style="width: 5%">Modality</th>
                <th style="width: 5%">Qualifier</th>
                <th style="width: 10%">Value</th>
            </tr>
        </thead>
        <tbody>
            {{#objectives}}
            <tr>
                <td style="white-space: nowrap;">{{url}}</td>
                <td>{{measure}}</td>
                <td>{{measureDescription}}</td>
                <td>{{modality}}</td>
                <td>{{qualifier}}</td>
                <td>{{value}}</td>
            </tr>
            {{/objectives}}
        </tbody>
    </table>
    {{^objectives}}
    <div class="alert alert-warning">
        <b>Empty!</b> There are no defined policies. You can uploads some <a href="{{mustacheletPath}}/upload/policy/new">here</a>
    </div>
    {{/objectives}}
</div>

{{/partial}}
{{#partial "scripts"}}
<script>
var paginator = Paginator({{entityTypeCount}}, '/api/entitytype.json/list', 20, 'type_list.hbs', '#typeList', '{{contextPath}}', '{{mustacheletPath}}');
paginator.init();
</script>
{{/partial}}
{{> base}}
