{{#partial "title"}}Scout - Browse - Entity{{/partial}} {{#partial
"NavBrowseClass"}}active{{/partial}} {{#partial "content"}}
<div class="container">
	{{#entity}}
	<div class="page-header">
	<h1>{{name}} <small>entity</small></h1>
	</div>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Property</th>
				<th style="width: 100%">Value</th>
				<th style="width: 10%">Action</th>
			</tr>
		</thead>
		<tbody>
			{{#values}}
			<tr>
				<td style="white-space: nowrap;">{{property.name}}</td>
				<td>{{#value-render this}}{{/value-render}}</td>
				<td><a class="btn btn-small btn-link"
					href="{{../mustacheletPath}}/browse/value/{{#encodeId entity.type.name}}{{/encodeId}}/{{#encodeId entity.name}}{{/encodeId}}/{{#encodeId property.name}}{{/encodeId}}/{{version}}"><i
						class=" icon-eye-open"></i></a></td>
			</tr>
			{{/values}}
		</tbody>
	</table>
	{{^values}}
	<div class="alert alert-warning">
		<b>Empty!</b> There are no defined property values for this entity.
	</div>
	{{/values}} {{/entity}} {{^entity}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find entity with name '{{entityName}}'
		from type '{{typeName}}'.
	</div>
	{{/entity}}
</div>
{{/partial}} {{>base}}
