	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="{{mustacheletPath}}/">Scout</a>
			<ul class="nav">
				<li class="{{#block "NavIndexClass"}}{{/block}}"><a href="{{mustacheletPath}}/">Home</a></li>
				<li class="{{#block "NavQueryClass"}}{{/block}}"><a href="{{mustacheletPath}}/query">Query</a></li>
				<li class="{{#block "NavBrowseClass"}}{{/block}}"><a href="{{mustacheletPath}}/browse">Browse</a></li>
				<li class="{{#block "NavContributeClass"}}{{/block}}"><a href="{{mustacheletPath}}/contribute">Contribute</a></li>
				<li class="{{#block "NavAdministrationClass"}}{{/block}}"><a href="{{mustacheletPath}}/administration">Administration</a></li>
			</ul>
		</div>
	</div>