{{#partial "title"}}Scout - Browse - Measurement{{/partial}} {{#partial
"NavBrowseClass"}}active{{/partial}} {{#partial "content"}}
<div class="container">
	{{#measurement}}
	<div class="page-header">
	<h1>Measurement</h1>
	</div>
	
	<dl class="dl-horizontal">
		<dt>Date</dt>
		<dd>{{#naturalTime timestamp}}{{/naturalTime}}</dd>
		<dt>Significant</dt>
		<dd>{{#if significant}}<i class="icon-ok"></i>{{/if}}{{#unless significant}}<i class="icon-remove"></i>{{/unless}}</dd>
		<dt>Last</dt>
		<dd>{{#if last}}<i class="icon-ok"></i>{{/if}}{{#unless last}}<i class="icon-remove"></i>{{/unless}}</dd>
		<dt>Limit</dt>
		<dd>{{#if limit}}<i class="icon-ok"></i>{{/if}}{{#unless limit}}<i class="icon-remove"></i>{{/unless}}</dd>
	</dl>
	
	{{#propertyValue}}
	<h4>Value</h4>
	<dl class="dl-horizontal">
		<dt>Category</dt>
		<dd>{{property.type.name}}{{#if property.type.description}} <small>({{property.type.description}})</small>{{/if}}</dd>
		<dt>Entity</dt>
		<dd>{{entity.name}}</dd>
		<dt>Property</dt>
		<dd>{{property.name}}{{#if property.description}} <small>({{property.description}})</small>{{/if}}</dd>
		<dt>Value</dt>
		<dd>{{#value-render this}}{{/value-render}}</dd>
		<dt>Data type</dt>
		<dd>{{property.datatype.description}}{{#if
		property.renderingHint}} <small>({{property.renderingHint.description}})</small>{{/if}}.</dd>
		<dt>Version</dt>
		<dd>{{version}}</dd>
	</dl>
	{{/propertyValue}}
	
	{{#adaptor}}
	<h4>Source</h4>
	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{source.name}}</dd>
		{{#if source.description}}
		<dt>Description</dt>
		<dd>{{source.description}}</dd>
		{{/if}}
		<dt>Adaptor</dt>
		<dd>{{instance}}</dd>
		<dt>Plug-in</dt>
		<dd>{{name}}</dd>
		<dt>Version</dt>
		<dd>{{version}}</dd>
	</dl>
	
	{{/adaptor}}
	
	{{/measurement}} {{^measurement}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find measurement '{{id}}'.
	</div>
	{{/measurement}}
</div>
{{/partial}}
{{> base}}
