{{#partial "title"}}Scout - Browse - Source Adaptor{{/partial}}
{{#partial "NavBrowseClass"}}active{{/partial}} {{#partial "content"}}
<div class="container">
	{{#adaptor}}
	<ul class="breadcrumb">
		<li><a href="{{mustacheletPath}}/administration">Sources</a> <span
			class="divider">/</span></li>
		<li><a href="{{mustacheletPath}}/browse/source/{{source.id}}">{{source.name}}</a>
			<span class="divider">/</span></li>
		<li class="active">{{instance}}</li>
	</ul>
	<div class="page-header">
		<h1>Source adaptor</h1>
	</div>

	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{instance}}</dd>
		<dt>Plug-in</dt>
		<dd>{{name}}</dd>
		<dt>Version</dt>
		<dd>{{version}}</dd>
		<dt>Active</dt>
		<dd>
			{{#if active}}<i class="icon-ok"></i>{{/if}}{{#unless active}}<i
				class="icon-remove"></i>{{/unless}}
		</dd>
	</dl>

	<div>
		<h4>Configuration</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Parameter</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				{{#configuration}}
				<tr>
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
				{{/configuration}}
			</tbody>
		</table>
		{{^configuration}}
		<div class="alert alert-warning">
			<b>Empty!</b> No configuration defined.
		</div>
		{{/configuration}} {{#if entities}}
		<h4>Entities</h4>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th style="width: 10%">Action</th>
				</tr>
			</thead>
			<tbody>
				{{#entities}}
				<tr>
					<td>{{name}}</td>
					<td><a class="btn btn-info"
						href="{{mustacheletPath}}/browse/entity/{{id}}">Browse</a></td>
				</tr>
				{{/entities}}
			</tbody>
		</table>
		{{/if}}
	</div>

	<div>
		{{#if properties}}
		<h4>Properties</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Data type</th>
				</tr>
			</thead>
			<tbody>
				{{#properties}}
				<tr>
					<td>{{name}}</td>
					<td>{{name}}</td>
					<td>{{datatype}}</td>
				</tr>
				{{/properties}}
			</tbody>
		</table>
		{{/if}}
		<h4>Source</h4>
		{{#source}}
		<dl class="dl-horizontal">
			<dt>Name</dt>
			<dd>{{name}}</dd>
			{{#if description}}
			<dt>Description</dt>
			<dd>{{description}}</dd>
			{{/if}}
		</dl>
		{{/source}}
	</div>
	{{/adaptor}} {{^adaptor}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find an adaptor with instance name
		'{{instance}}'.
	</div>
	{{/adaptor}}
	<h4>Event history</h4>
	<div id="eventList" class="content">Loading events...</div>
</div>
{{/partial}} {{#partial "scripts"}}
<script>
	var paginator = Paginator({{eventCount}}, '/api/sourceadaptorevent.json/list?adaptor={{adaptor.id}}', 20, 'event_list.hbs', '#eventList', '{{contextPath}}', '{{mustacheletPath}}');
	paginator.init();
</script>
{{/partial}} {{>base}}
