{{#partial "title"}}Scout - Browse - Property{{/partial}} {{#partial
"NavBrowseClass"}}active{{/partial}} {{#partial "content"}}
<div class="container">
	{{#property}}
	<div class="page-header">
	<h1>Property</h1>
	</div>
	
	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{name}}</dd>
		{{#if description}}
		<dt>Description</dt>
		<dd>{{description}}</dd>
		{{/if}}
		<dt>Data Type</dt>
		<dd>{{property.datatype.description}}</dd>
		{{#if renderingHint}}
		<dt>Rendering Hint</dt>
		<dd>{{property.renderingHint.description}}</dd>
		{{/if}}
	</dl>
	
	{{#type}}
	<h4>Category</h4>
	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{type.name}}</dd>
		{{#if type.description}}
		<dt>Description</dt>
		<dd>{{type.description}}</dd>
		{{/if}}
	</dl>
	{{/type}}
	
	{{/property}} {{^property}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find property '{{id}}'.
	</div>
	{{/property}}
</div>
{{/partial}}
{{> base}}
