{{#partial "item_list"}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Category</th>
			<th>Entity</th>
			<th>Property</th>
			<th>Value</th>
			<th>Date</th>
			<th>Adaptor</th>
			<th style="width: 5%">Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each items}}
		<tr>
			<td>{{#with propertyValue.entity.type}}<a href="{{../../mustacheletPath}}/browse/type/{{id}}">{{name}}</a>{{/with}}</td>
			<td>{{#with propertyValue.entity}}<a href="{{../../mustacheletPath}}/browse/entity/{{id}}">{{name}}</a>{{/with}}</td>
			<td>{{#with propertyValue.property}}<a href="{{../../mustacheletPath}}/browse/property/{{id}}">{{name}}</a>{{/with}}</td>
			<td>{{#with propertyValue}}<a href="{{../../mustacheletPath}}/browse/value/{{id}}">{{#value-render this}}{{/value-render}}</a>{{/with}}</td>
			<td style="white-space: nowrap;">{{dateFormat timestamp}}</td>
			<td>{{#with adaptor}}<a href="{{../../mustacheletPath}}/browse/adaptor/{{id}}">{{instance}}</a>{{/with}}</td>
			<td><a class="btn btn-small btn-link"
				href="{{../mustacheletPath}}/browse/measurement/{{id}}"><i class=" icon-th-list"></i></a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/partial}}
{{#partial "empty_message"}}No measurements found.{{/partial}}
{{>base_paginated_list}}