{{#partial "title"}}Scout - Browse - Request{{/partial}} {{#partial
"NavBrowseClass"}}active{{/partial}} {{#partial "content"}}
<div class="container">
	{{#request}}
	<div class="page-header">
		<h1>
			Trigger<br /> <small>{{description}}</small>
		</h1>
	</div>

	{{#triggers}}

	<h4>Initiators</h4>
	<dl class="dl-horizontal">
		<dt>Schedule</dt>
		<dd>{{#durationMS period}}{{/durationMS}}</dd>
		{{#if types}}
		<dt>Categories</dt>
		<dd>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th style="width: 10%">Action</th>
					</tr>
				</thead>
				<tbody>
					{{#each types}}
					<tr>
						<td>{{name}}</td>
						<td>{{description}}</td>
						<td><a class="btn btn-small btn-link"
							href="{{../mustacheletPath}}/browse/type/{{id}}"><i
								class=" icon-th-list"></i></a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</dd>
		{{/if}} {{#if entities}}
		<dt>Entities</dt>
		<dd>TODO</dd>
		{{/if}} {{#if properties}}
		<dt>Properties</dt>
		<dd>TODO</dd>
		{{/if}}
	</dl>

	{{#if question}}
	<h4>Question</h4>
	{{#with question}}
	<dl class="dl-horizontal">
		<dt>Target</dt>
		<dd>{{target}}</dd>
		<dt>SPARQL</dt>
		<dd>
			<pre style="margin: 0;">SELECT ?s WHERE { <span
					id="sparql-class-declaration"></span>{{#if sparql}} . {{sparql}}{{/if}} }</pre>
		</dd>
	</dl>

	{{/with}} {{/if}} {{#if plan}}
	<h4>Preservation Plan</h4>
	{{#with plan}}
	<dl class="dl-horizontal">
		<dt>Plan Id</dt>
		<dd>{{planId}}</dd>
	</dl>
	{{/with}} {{/if}}

	<h4>Notifications</h4>

	{{#if notifications}}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Type</th>
				<th>Parameters</th>
			</tr>
		</thead>
		<tbody>
			{{#each notifications}}
			<tr>
				<td>{{type}}</td>
				<td>{{#each parameters}}
					<ul class="unstyled">
						<li><strong>{{key}}:</strong> {{value}}</li>
					</ul> {{/each}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	{{/if}} {{#unless notifications}}
	<div class="alert alert-warning">
		<b>Empty!</b> There are no defined notifications for this trigger.
	</div>
	{{/unless}} {{/triggers}} {{^triggers}}
	<div class="alert alert-warning">
		<b>Empty!</b> There are no defined triggers for this request.
	</div>
	{{/triggers}} <a class="btn btn-large btn-warning" type="button"><i
		class="icon-edit icon-white"></i> Edit</a>
	<button data-toggle="modal" data-target="#deleteConfirmModal"
		class="btn btn-large btn-danger">
		<i class="icon-remove-circle icon-white"></i> Delete
	</button>
	<!-- Delete confirmation modal -->
	<div id="deleteConfirmModal" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="deleteConfirmModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="deleteConfirmModalLabel">Delete confirmation</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete the request? This action is
				irreversible!</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button id="deleteButton" class="btn btn-primary btn-danger">Sure,
				delete it</button>
		</div>
	</div>
	{{/request}} {{^request}}
	<div class="alert alert-error">
		<b>Not found!</b> Could not find request {{id}}.
	</div>

	{{/request}}
</div>

{{/partial}} {{#partial "scripts"}}
<script type="text/javascript">

		var updateSparqlDeclaration = function(value) {
			if (value == 'entity_type') {
				$('#sparql-class-declaration').html("?s rdf:type watch:EntityType");
			} else if (value == 'property') {
				$('#sparql-class-declaration').html("?s rdf:type watch:Property");
			} else if (value == 'entity') {
				$('#sparql-class-declaration').html("?s rdf:type watch:Entity");
			} else if (value == 'property_value') {
				$('#sparql-class-declaration').html("?s rdf:type watch:PropertyValue");
			} else if (value == 'measurement') {
				$('#sparql-class-declaration').html("?s rdf:type watch:Measurement");
			}
		};
		
		{{#each request.triggers}}
		{{#if question.target}}
		updateSparqlDeclaration('{{question.target}}'.toLowerCase());
		{{/if}}
		{{/each}}
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.btn').button();
		$('#deleteButton').click(function() {
			var btn = $(this);
			btn.button('loading');
			$.ajax({
				url : '{{contextPath}}/api/asyncrequest.json/{{request.id}}',
				type : 'DELETE',
				success : function() {
					window.location = '{{mustacheletPath}}/dashboard';
				},
				error : function(xhr, ajaxOptions, thrownError) {
					alert(xhr.responseText);
					btn.button('reset');
					$('#deleteConfirmModal').hide();
				}
			});
		});
	});
</script>
{{/partial}} {{>base}}
